.App {
    text-align: center;
  }
  
  .top-container {
    display: flex;
    flex-direction: row;
  }
  
  .top-left-col {
    flex: 5;
    display: flex;
    justify-content: left;
    align-items: center;
    background: black;
  }

  .logo {
    height: 100px;
    }
  
  .top-right-col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }

  .username {
    color: rgb(212,199,181);
  }
 
  .body-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .left-col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: top;
    background: white;
    padding: 20px;
  }
  
  .right-col {
    flex: 5;
    overflow-y: scroll;
  }

  .gutter {
    flex: 0.1;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
    text-shadow: 3px 3px 3px rgb(212,199,181);
  }
  p {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    box-shadow: 0 0 0em 0.1em rgb(212,199,181)
  }

  