.App {
    text-align: center;
  }
  
  .top-container {
    display: flex;
    flex-direction: row;
  }
  
  .top-left-col {
    flex: 5;
    display: flex;
    justify-content: left;
    align-items: center;
    background: black;
  }

  .logo {
    height: 100px;
    }
  
  .top-right-col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }

  .username {
    color: red;
  }
 
  .body-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .left-col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: top;
    background: white;
    padding: 20px;
  }
  
  .right-col {
    flex: 5;
    background: white;
    overflow-y: scroll;
  }